.chat {
  flex: 0.65;
  display: flex;
  flex-direction: column;
}

.chat__header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.chat__header > .MuiAvatar-img {
}

.chat__headerInfo {
  flex: 1;
  margin-left: 20px;
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}

.chat__headerInfo > p {
  color: gray;
}

.chat__headerRight {
  display: flex;
  min-width: 100px;
}

.chat__body {
  flex: 1;
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
  padding: 30px 20px;
  overflow: scroll;
}

.chat__body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.chat__reciever {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat__name {
  position: absolute;
  font-size: xx-small;
  font-weight: 800;
  top: -15px;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 62px;
  border-top: 1px solid lightgray;
}

.chat__footer > form {
  flex: 1;
  display: flex;
  align-items: center;
}

.chat__footer > form > input {
  flex: 1;
  border-radius: 30px;
  outline: none;
  border: none;
  height: 30px;
  padding: 10px;
}

.chat__footer > form > button {
  display: none;
}
